
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#room-types {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.room {
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
}

.room img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.room h2 {
    margin-top: 10px;
}

.room p {
    margin-top: 5px;
}
